<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpvQACSWUaWH5w5Lga_QCyXP52rHT8HQA</string>
	<key>GCM_SENDER_ID</key>
	<string>901491010696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maksymlakhman.RaifBankNeoStyle</string>
	<key>PROJECT_ID</key>
	<string>raifbankneostyle</string>
	<key>STORAGE_BUCKET</key>
	<string>raifbankneostyle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901491010696:ios:b033736701918f64f3c33d</string>
</dict>
</plist>